/* Reset default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #EDF1D6;
}

.container {
  margin: 0 auto;
  padding: 40px;
}

header {
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #40513B;
}

nav ul li a:hover {
  color: #9DC08B;
}

section {
  padding: 40px 0;
  text-align: center;
}

.content-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  text-align: left;
  height: 100vh;
}

.content-text {
  padding: 20px;
}

.content-img {
  max-width: 300px;
}

.content-text-header {
	color: #40513B;
  font-weight: bold;
  font-size: 50px;
}

.content-text-date {
	color: #609966;
  font-style: italic;
  font-size: 40px;
}

.content-text-location {
	color: #609966;
  font-weight: bold;
  font-size: 35px;
}

.content-text-description {
	color: #9DC08B;
  font-size: 20px;
}

.index-text-date {
  color: #609966;
  font-style: italic;
  font-size: 35px;
}

.index-text-header {
  color: #40513B;
  font-weight: bold;
  font-size: 50px;
}