/* Reset default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, form, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SilkSerif;
  src: url("font/SilkSerifRegular.otf") format("opentype");
}

@font-face {
  font-family: SilkSerif;
  font-weight: bold;
  src: url("font/SilkSerifBold.otf") format("opentype");
}

@font-face {
  font-family: SilkSerif;
  font-weight: italic;
  src: url("font/SilkSerifRegularItalic.otf") format("opentype");
}

/* Global styles */
body {
  font-family: 'SilkSerif', serif;
  background-color: #fcf4e9;
  color: #ce5d40;
}

.container {
  margin: 0 auto;
  padding: 40px;
}

header {
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: black;
}

nav ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  color: black;
}

ul {
  list-style: none;
}

section {
  padding: 40px 0;
  text-align: center;
}

.content-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 20px;
  text-align: left;
}

.content-text {
  padding: 20px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.content-text-header {
  font-size: 75px;
}

.content-text-date {
  font-style: italic;
  font-size: 30px;
}

.content-text-location {
  font-weight: bold;
  font-size: 30px;
}

.content-text-description {
  font-size: 20px;
}

.index-text-date {
  font-style: italic;
  font-size: 75px;
}

.index-text-header {
  color: #c9a658;
  font-size: 55px;
}